# Domain
type astro-sh, domain;
type astro-sh_exec, exec_type, vendor_file_type, file_type;

init_daemon_domain(astro-sh)

# Permissions
# Exec
allow astro-sh vendor_toolbox_exec:file rx_file_perms;

# Mounting
allow astro-sh vendor_camera_data_file:file { mounton getattr };
allow astro-sh proc_filesystems:file r_file_perms;
allow astro-sh astro-sh:capability sys_admin;
